<div class="project-portfolio-container">
  <div class="title">
    <a (click)="goBack()">Revenir aux projets</a>
    <h1>C Webserver</h1>
    <div (click)="open('https://github.com/Captainfl4me/c-webserver')" class="github-icon">
      <img src="../../../../assets/icons/logo-github.svg" onload="SVGInject(this)" />
      <span>Voir sur GitHub</span>
    </div>
  </div>
  <div class="content-container">
    <div class="section-vr">
      <div class="image" appAnimateFadeScroll>
        <img src="../../../../assets/portfolio/cwebserver/logo_rect.png" alt="">
        <small>Logo du projet</small>
      </div>
      <p appAnimateFadeScroll>C'est un projet autodidactique que j'ai réalisé dans le but de me former sur les protocoles de communication et
        me familiariser avec le langage C. L'objectif est de concevoir un framework permettant de développer facilement
        un serveur HTTP. Il est possible de faire des serveurs backend où d'héberger une application frontend.</p>
      <div class="image" appAnimateFadeScroll>
        <img src="../../../../assets/portfolio/cwebserver/basic_code.png" alt="">
        <small>Exemple de code simple pour créer un serveur et un endpoint /index</small>
      </div>
    </div>
  </div>
</div>