<div class="container">
  <app-project name="Float Lift & Fly Contest - FLFC" info="2021-2022" image="../../../assets/portfolio/FLFC/airship.jpg" 
    description="Conception et réalisation d'un dirigeable fonctionnelle d'une longueur de 6m. Première place 
    et prix de l'innovation 2022." link="flfc"></app-project>
  
  <app-project name="Rover cartographe" info="2022-2023" image="../../../assets/portfolio/Rover/rover_3d_new.png"
    description="Développement et réalisation d'un rover se déplaçant en autonomie dans 
    son environnement tout en le cartographiant" link="rover"></app-project>
  
  <app-project name="C Webserver" info="2022" image="../../../assets/portfolio/cwebserver/logo.png" 
    description="Création, simulation et émulation d'une architecture simple de CPU 8-bits basé sur le 
    programme 6502 assembly language." link="cwebserver"></app-project>
  
    <app-project name="TurtleCore" link="turtle-core"></app-project>
</div>