.container {
  --gap: 1.5rem;
  --number-of-project-columns: 3;
  gap: var(--gap);
  display: flex;
  flex-wrap: wrap;
  padding: 1vw 3vw;
}

app-project {
  width: calc((100% - (var(--number-of-project-columns) - 1)*var(--gap)) / var(--number-of-project-columns));
}