.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;

    h1 {
      font-size: 2rem;
      margin: 0;
      vertical-align: middle;

        @media (max-width: 600px) {
            font-size: 1.5rem;
        }
        @media (max-width: 400px) {
            font-size: 1.1rem;
        }
    }

    ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 1rem;
        margin: 1.5rem 0;

        @media (max-width: 400px) {
            margin: 0.5rem 0;
        }

        li {
            cursor: pointer;
            position: relative;
            padding: 0.2rem;

            &.is-active {
                color: var(--color-primary);

                &::after {
                    width: 100%;
                    left: 0;
                }
            }

            &::after {
                content: '';
                position: absolute;
                background: var(--color-primary);
                border-radius: 0.25rem;
                bottom: 0;
                height: 3px;
                width: 0;
                left: 50%;
                transition: all 0.15s ease-in-out;
            }
            &:hover::after {
                width: 100%;
                left: 0;
            }
        }
    }
}
  