<div class="container" style="overflow: hidden;">
  <div class="cv" @slideFadeFromBottom>
    <img src="../../../assets/cv/CV-2023.svg" alt="">
    <a class="download" href="../../../assets/cv/CV-2023_FR_THIERRY_Nicolas.pdf">
      <img src="../../../assets/icons/cloud-download-outline.svg"  onload="SVGInject(this)">
    </a>
  </div>
  <div class="cv" @slideFadeFromBottom>
    <img src="../../../assets/cv/CV-English-2023.svg" alt="">
    <a class="download" href="../../../assets/cv/CV-2023_EN_THIERRY_Nicolas.pdf">
      <img src="../../../assets/icons/cloud-download-outline.svg"  onload="SVGInject(this)">
    </a>
  </div>
</div>