<div class="project-portfolio-container">
    <div class="title">
        <a (click)="goBack()">Revenir aux projets</a>
        <h1>Float Lift & Fly Contest - FLFC 2022</h1>
    </div>
    <div class="section-hr">
        <div class="section-vr">
            <div class="image">
                <img src="../../../../assets/portfolio/FLFC/airship_first.jpg" alt="">
                <small>Dirigeable durant la finale de l'année suivante (2023)</small>
            </div>
            <p>Pendant ce projets j'ai beaucoup travaillé sur l'architecture de communication 
                et ai réalisé le logiciel d'interface homme machine en C++.</p>
        </div>
        <div class="section-vr">
            <p>Durant l'année scolaire 2021-2022 j'ai eu la chance de participer au concours Float Lift & Fly Contest organisé 
                par Flying Whales. C'est une entreprise française dévloppant le LCA60T, un dirigeable d 200m de long 
                pour environ 50m de diamètre pouvant déplacer jusqu'à 60 tonnes de charge utile. 
                L'objectif du concours était, à partir d'une enveloppe souple de concevoir et monter l'ensemble des systèmes
                propulsifs et de préhension afin de pouvoir se déplacer dans l'espace et récupérer des grumes de bois.
            Ici, notre prototype pouvait embarquer jusqu'à 1kg de charge utile.</p>
            <div class="image add-bg">
                <img src="../../../../assets/portfolio/FLFC/info_scheme.png" alt="">
                <small>Schéma des flux d'informations</small>
            </div>
        </div>
    </div>
    <div class="section-vr">
        <div class="section-hr">
            <div class="image">
                <img src="../../../../assets/portfolio/FLFC/pince_working.jpeg" alt="">
                <small>Pince permettant de prendre plusieurs grumes en même temps</small>
            </div>
            <div class="image">
                <img src="../../../../assets/portfolio/FLFC/plot.jpeg" alt="">
                <small>Système de poulie pour translater la pince dans les 3 dimensions</small>
            </div>
        </div>
        <p style="text-align: center;">La pince et le système de poulis associés sont les systèmes les plus complexes du dirigeable.
        Pour les réaliser nous avons du faire une phase de préconception ainsi que plusieurs prototypes.</p>
        <div class="image">
            <video autoplay loop>
                <source src="../../../../assets/portfolio/FLFC/PinceAnim.webm" type="video/webm" />
            </video>
            <small>Animation 3D de la pince</small>
        </div>
        <p>Enfin, grâce à notre première place nous avons eu l'occasion de faire voler notre dirigeable 
            lors de l'inauguration du Hangar Y pendant le festival Star's up en 2022.</p>
        <div class="image">
            <img src="../../../../assets/portfolio/FLFC/Stars_up.jpg" alt="">
            <small>Inauguration du Hangar Y, Meudon, France</small>
        </div>
    </div>
</div>