<div class="project-portfolio-container">
  <div class="title">
    <a (click)="goBack()">Revenir aux projets</a>
    <h1>Rover Cartographe</h1>
  </div>
  <div class="content-container">
    <div class="section-vr">
      <div class="image">
        <img src="../../../../assets/portfolio/Rover/rover_3d.png" alt="">
        <small>CAO du rover dans sa version 1</small>
      </div>
      <p>Durant ma 3e année à l'ESTACA, nous avons mené un projet associatif visant à développer et à réaliser un rover
        capable de cartographier et de se déplacer dans son environnement de manière autonome. Durant ce projet, nous
        avons pu utiliser ROS 2 afin de développer une architecture complexe en un temps relativement réduit. Nous avons
        également dû comprendre et apprendre à utiliser des algorithmes de cartographie utilisant les nuages de points
        d'une caméra de profondeur. Et développer des solutions de suivi de chemin ainsi que d'optimisation des
        trajectoires.
      </p>
      <p>La complexité de l'architecture la rend très flexible, car elle est divisée en plusieurs sous-blocs,
        développable, testable et intégrable individuellement.</p>
      <div class="image">
        <img src="../../../../assets/portfolio/Rover/Fonctionnal_scheme.png" alt="">
        <small>Schéma fonctionnel du rover</small>
      </div>
      <p>
        Ce projet m'a appris de nouvelles méthodes de fabrication comme l'impression 3D. Nous avons notamment imprimé
        les roues en filament flexible afin d'absorber les aspérités du sol.
      </p>
      <div class="image">
        <img src="../../../../assets/portfolio/Rover/wheel_stresstest.png" alt="">
        <small>Représentation des déplacements sur les roues pour une charge de 50N</small>
      </div>
      <div class="image">
        <img src="../../../../assets/portfolio/Rover/Suspension_test.jpg" alt="">
        <small>Essai des suspensions mécaniques simulant des obstacles d'environ 15 cm</small>
      </div>
    </div>
  </div>
</div>