<div class="project-portfolio-container">
  <div class="title" @fade>
    <a (click)="goBack()">Revenir aux projets</a>
    <h1>Turtle Core I</h1>
    <div (click)="open('https://github.com/Captainfl4me/TurtleCore')" class="github-icon">
      <img src="../../../../assets/icons/logo-github.svg" onload="SVGInject(this)" />
      <span>Voir sur GitHub</span>
    </div>
  </div>
  <div class="content-container" @slideFadeFromBottom>
    <div class="section-vr">
      <div class="image" appAnimateFadeScroll>
        <img src="../../../../assets/portfolio/turtlecore/Logo.png" alt="">
        <small>Logo du projet</small>
      </div>
      <p appAnimateFadeScroll>Ce projet vise à concevoir, simuler et émuler une architecture de CPU utilisant un bus 8 bits. L'objectif est
        d'en apprendre plus sur le fonctionnement interne d'un CPU et la programmation bas niveau. Les détails
        techniques du projet sont disponibles sur la page GitHub avec le code source.
      </p>
      <div class="image add-bg" appAnimateFadeScroll>
        <img src="../../../../assets/portfolio/turtlecore/TurtleCoreDiagram.drawio.png" alt="">
        <small>Diagramme d'architecture</small>
      </div>
      <p appAnimateFadeScroll>
        La simulation du comportement du processeur est faite avec Logisim Evolution, un logiciel qui permet de créer
        des circuits logiques et de les simuler.
      </p>
      <div class="image add-bg" appAnimateFadeScroll>
        <img src="../../../../assets/portfolio/turtlecore/logisim_screen.png" alt="">
        <small>Capture d'écran de la page Logisim</small>
      </div>
      <p appAnimateFadeScroll>Pour faciliter la programmation des PLA, dans le bloc logique décodant les opérations, les différents cycles
        sont définissables en python pour une meilleure lisibilité et une plus grande flexibilité. Dans l'exemple
        ci-dessous, on défini le cycle de l'instruction LDY # (chargement dans le registre Y de l'octet suivant
        l'instruction).
      </p>
      <div class="image" appAnimateFadeScroll>
        <img src="../../../../assets/portfolio/turtlecore/Code_extract.png" alt="">
        <small>Extrait de code python pour générer la logique de l'instruction LDY #</small>
      </div>
    </div>
  </div>
</div>