<div class="container">
    <div class="title" @slideFadeFromLeft>
        <h1>Nicolas <br />THIERRY</h1>
        <hr>
        <div class="links">
            <span (click)="openLink('https://github.com/Captainfl4me')">
                <img src="../../../assets/icons/logo-github.svg"  onload="SVGInject(this)">
            </span>
            <span (click)="openLink('https://www.linkedin.com/in/nicolasthierry')">
                <img src="../../../assets/icons/logo-linkedin.svg" onload="SVGInject(this)">
            </span>
        </div>
    </div>
    <div class="image-container"@slideFadeFromBottom>
        <div class="image-bg"></div>
        <img src="../../../assets/profile_pic_transparent_compressed.png" alt="profil-pic">
    </div>
    <div class="intro" @slideFadeFromRight>
        <h2>Ingénieur aérospatial</h2>
        <h3>Spécialisé dans les systèmes embarqués et logiciels</h3>
        <p>Passionnée par l'espace et l'ingénierie, j'aime apprendre et découvrir de nouvelles choses. 
            J'aime aussi travailler en équipe et j'ai l'habitude de réaliser des projets personnels et professionnels.</p>
    </div>
</div>