/* You can add global styles to this file, and also import other style files */
html {
  font-family: "Aptos", sans-serif;
  color: var(--color-black);
  background: var(--color-background);

  --color-primary-shade: #395082;
  --color-primary: #2c97de;
  --color-primary-radial-gradient: radial-gradient(circle, #2c97de 0%, #227fbb 100%);
  --color-primary-tint: #227fbb;
  --color-black: #2b3e51;
  --color-background: #f1f3f4;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.github-icon {
  align-self: center;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: var(--color-background);
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;

  svg {
    width: 2rem;
  }

  &:hover {
    transform: scale(1.05);
  }
}

/////////////////////////////////////////////////////PORTFOLIO STYLE
.project-portfolio-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 3vw;
  padding-bottom: 5vh;

  .title {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 1.5rem;

    a {
      cursor: pointer;
      position: absolute;
      float: left;
      margin-top: 1rem;
      padding: 0.2rem;

      &::after {
        content: "";
        position: absolute;
        background: var(--color-primary);
        border-radius: 0.25rem;
        bottom: 0;
        height: 3px;
        width: 0;
        left: 50%;
        transition: all 0.15s ease-in-out;
      }
      &:hover::after {
        width: 100%;
        left: 0;
      }
    }

    h1 {
      margin-top: 2rem;
      margin-bottom: 0.5rem;
      font-size: 4rem;
      text-align: center;
    }
  }

  .section-hr {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 2rem;
  }

  .section-vr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  p {
    text-align: justify;
    font-size: 1rem;
    width: 100%;

    &.align-center {
      text-align: center;
    }
  }

  .image {
    display: flex;
    flex-direction: column;
    align-items: center;

    img,
    video {
      border-radius: 0.5rem;
      width: 40vw;
    }

    small {
      margin: 0.25rem 0;
      font-style: italic;
      color: var(--color-primary-tint);
      text-align: center;
    }

    &.add-bg img {
      background: var(--color-background);
      box-shadow:
        rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      padding: 0.5rem;
    }
  }
}
